html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: monospace;
    color: #5F574F;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

canvas {
  cursor: crosshair;
}

#legend {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.tools {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 120px;
}

a, a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: inherit;
  font-weight: inherit;
}

.tool {
  display: block;
  float: left;
  clear: none;
  min-width: 40px;
  min-height: 40px;
  margin: 5px;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
}

.colors {
  display: none;
  float: left;
}

#color-button[style="background-color: rgb(255, 241, 232);"], /* DEM HAX */
.white.color {
  border: 2px solid #5F574F;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.black       { background-color: #000000; }
.dark-blue   { background-color: #1D2B53; }
.dark-purple { background-color: #7E2553; }
.dark-green  { background-color: #008751; }
.brown       { background-color: #AB5236; }
.dark-gray   { background-color: #5F574F; }
.light-gray  { background-color: #C2C3C7; }
.white       { background-color: #FFF1E8; }
.red         { background-color: #FF004D; }
.orange      { background-color: #FFA300; }
.yellow      { background-color: #FFEC27; }
.green       { background-color: #00E436; }
.blue        { background-color: #29ADFF; }
.indigo      { background-color: #83769C; }
.pink        { background-color: #FF77A8; }
.peach       { background-color: #FFCCAA; }
